header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 10vh;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
}

header img {
  width: 25rem;
  padding-right: 2rem;
}
