header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  height: 10vh;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
}

header img {
  width: 25rem;
  padding-right: 0;
  filter: blur(4px);
  /*filter: blur(3px) invert(100%);*/

}

header img:hover {
  transition: filter 225ms ease-in;
  filter: blur(10px);
}
