.scene {
  width: 100vw;
  height: 90vh;
  background: grey;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

#portal {
  align-self: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  font-size: 2rem;
  letter-spacing: .04rem;
  font-weight: normal;
  width: 6rem;

  padding: .5rem 2rem .75rem 2rem;
  margin: 0;

  background: rgba(255, 255, 255, 0);

  border-radius: 3px;
  cursor: pointer;
  border: 2px solid rgb(255, 75, 232);
  color: rgb(255, 75, 232);
  filter: blur(2px);
}

button:hover {
  transition: filter 225ms ease-in;
  filter: blur(0px);
}

#clear {
  bottom: 2vh;
  left: 2vw;
}

#toggle-live {
  bottom: 2vh;
  right: 45vw;
}

#step {
  bottom: 2vh;
  right: 2vw;
}
