.scene {
  width: 100vw;
  height: 90vh;
  background: grey;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

#portal {
  align-self: center;
}

button {
  position: fixed;
  top: 50vh;
  left: 10vw;
}
