.scene {
  width: 100vw;
  height: 90vh;
  background: grey;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

a {
  color: inherit;
}

#portal {
  align-self: center;
}

nav {
  position: fixed;
  bottom: 2rem;
  left: 4vw;
  right: 4vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: space;
}

button, .button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  letter-spacing: .04rem;
  font-weight: normal;
  width: 6rem;

  padding: .5rem 2rem .75rem 2rem;
  margin: 0;

  background: rgba(255, 255, 255, 0);

  border-radius: 3px;
  cursor: pointer;
  border: 2px solid rgb(255, 75, 232);
  color: rgb(255, 75, 232);
  filter: blur(2px);
}

button:hover, .button:hover {
  transition: filter 225ms ease-in;
  filter: blur(0px);
}

.modal {
  letter-spacing: .06rem;
  font-weight: 300;
  position: absolute;
  flex-flow: row;
  justify-content: flex-start;
  border: 0;
  padding: 0;;
}

#seed {
  left: 3vw;
  top: 4vh;
}

#info {
  right: 2vw;
  top: 4vh;
  z-index: 100;
}

.info-box {
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

#info-details {
  width: 40vw;
  background: rgb(235, 235, 235);
  color: blue;
  padding: 2rem;
  cursor: default;
  line-height: 3rem;
  z-index: 1000;
}

.credit {
  margin-top: 2rem;
  color: rgb(255, 125, 255);
  font-size: 1rem;
  line-height: 1.5rem;
}
#seed-selector {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 4rem;
}

#seed-selector button {
  margin-bottom: 1rem;
}

.on {
  background: rgb(255, 75, 232);
  color: white;
}

#brush {
  width: 7rem;
}


/*#clear {
  bottom: 2vh;
  left: 2vw;
}

#toggle-live {
  bottom: 2vh;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#step {
  bottom: 2vh;
  right: 2vw;
}

#acorn {
  top: 20vh;
  left: 2vh;
  width: 7rem;
}*/
